:root{
    --cor-principal:#3498db;
    --cor-segundaria:#2c3e50;
    --espacamento:16px; 
}
 
*/ RESET SIMPLIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
}
 
/*=========================
   FLEXBOX (MENU)
=======================*/


.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento);
    background: var(--cor-principal);
    color: rgb(44, 44, 212);
}

.menu{
    display:flex;
    gap: 10px;
}

.menu a{
    color:rgb(206, 206, 152)
}