.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento);
    background: var(--cor-principal);
    color: rgb(44, 44, 212);
}

.menu{
    display:flex;
    gap: 10px;
}

.menu a{
    color:rgb(206, 206, 152)
}